<div class="header_top">
    <app-header-logo></app-header-logo>
    <app-header-search></app-header-search>
    <div class="icons">
        <app-header-profile></app-header-profile>
        <app-header-cart></app-header-cart>
    </div>
</div>
