.background {
    background-image: url('/assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    margin-top: -2vh;
}

.categories {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 96px;
    margin-top: 10px;
    font-style: Georgia;
    text-align: center;
	font-size: 25pt;
    cursor: pointer;
    color: black;

}

.categories:hover{
    text-shadow: -2
    px -1px 1px rgb(255, 255, 255), 1px -1px 1px #999;
    color:black;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background: rgba(180, 142, 160, 0.5);
    margin-right: 34px;
    
   
    transition: transform 0.4s ease-out;
    transform: scale(1.05);
}
.category:hover .category {
    transform: scale(1.05);
}