<div class="background">
    <div class="categories">
        <ng-container *ngFor="let category of categories$ | async">
            <div class="category" (click)="toProducts(category.id)">
                {{ category.name }}
            </div>
        </ng-container>
    </div>
</div>

