* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
div {
    padding: 30px 0;
}
form {
    display: flex;
    flex-direction: row;
    position: relative;
    /* This bit draws the box around it */
    border: 1px solid grey;

    /* I've used padding so you can see the edges of the elements. */
    padding: 2px;
}

.d7 form {
    display: flex;
    justify-content: center;
    width: auto;
    float: right; 
}
.d7 input {
    width: 600px;
    height: 42px;
    flex-grow: 2;
    /* And hide the input's outline, so the form looks like the outline */
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #324b4e;
    background: #ffffff;
    outline: none;
    transition: 0.3s linear;
}
.d7 input:focus {
    width: 600px;
    outline: none;
}
.d7 button {
    position: absolute;
    right: 8px;
    top: 0;
    width: 42px;
    height: 42px;
    background: url('/assets/lupa.png');
    border: none;
    cursor: pointer;
}
