.products {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    width: 100%;
    float: left;
    transition: width 0.2s;
    list-style: none;
    margin-top: 48px;
    padding: 0;
}
.text {
	margin-top: 10px;
    font-style: Georgia;
    text-align: center;
	font-size: 35pt;
}
.text1 {
	margin-top: 30px;
	font-style: Georgia bold;
	text-align: center;
	font-weight: bold;
	font-size: 25pt;
	color: #f80000;
}
.product {
    border-radius: 10px;
    background: rgba(180, 142, 160, 0.5);
    margin: 0 20px 20px 0;
    text-decoration: none;
    color: #474747;
    z-index: 0;
    height: 700px;
    width: 500px;
}

.product-photo {
	margin-top: 30px;
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}

.product-photo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	width: 17vw;
	height: 50vh;

    margin: auto;
    transition: transform 0.4s ease-out;
}

.product:hover .product-photo img {
    transform: scale(1.05);
}
