<div class="products">
    <ng-container *ngFor="let product of products$ | async">
        <div class="product" (click)="toItem(product.id)">
            <div class="product-photo">
                <img [src]="product.imgUrl" />
            </div>
            <div class="text">{{ product.name }}</div>
            <div class="text1">{{ product.price }}₽</div>
        </div>
    </ng-container>
</div>
