.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    float: left;
    transition: width 0.2s;
    list-style: none;
    margin-top: 48px;
    padding: 0;
}

.product_top {
    border: 1px solid #b5e9a7;
    border-radius: 10px;
    background: rgba(180, 142, 160, 0.5);
    margin: 0 20px 20px 0;
    text-decoration: none;
    color: #474747;
    z-index: 0;
    height: 600px;
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    float: left;
}

.product_bootom {
    border: 1px solid #b5e9a7;
    border-radius: 10px;
    background: rgba(180, 142, 160, 0.5);
    margin-top: 625px;
    text-decoration: none;
    color: #474747;
    z-index: 0;
    height: 400px;
    width: 1400px;
}

.product-photo {
    position: relative;
    padding-bottom: 100%;
    padding-left: 150px;
    padding-top: 40px;
    overflow: hidden;
}

.product-photo img {
    position: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    width: 320px;
    height: 510px;
}

.product-back button {
    width: 100px;
    height: 100px;
    background: url('/assets/arrow_back.png');
    border: none;
    cursor: pointer;
}

.product-textBase {
    padding-top: 35px;
    padding-left: 30px;
	font-style: Georgia bold;
	text-align: left;
	font-weight: bold;
	font-size: 25pt;
	color: #FF3366;
}

.product-name {
    font-style: Georgia;
	font-size: 35pt;
    color: #474747;
}

.product-description {
	font-size: 15pt;
    color: #474747;
}

.product-buy button {
    float: right;
    margin-top: 225pt;
    width: 253px;
    height: 61px;
    background: url('/assets/buy.png');
    border: none;
    cursor: pointer;
}

.product-sizes {
	font-size: 25pt;
    color: #474747;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked), 
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label, 
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #e145a3;
    border-bottom: 4px solid #e145a3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #e145a3;
}

input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
    opacity: 1;
}