<div class="body">
    <div *ngIf="product$ | async as product">

        <div class="product_top">
            <div class="product-back">
                <button type="submit"></button>
            </div>

            <div class="product-photo">
                <img [src]="product.imgUrl" />
            </div>

            <div class="product-textBase">
                {{product.price}}₽
                <div class="product-name">{{product.name}}</div>
                <div class="product-description">_________________________________________________</div>
                <div class="product-description">{{product.description}}</div>
                
                <div class="product-buy">
                    <button (click)="addToCart(product)"></button>
                </div>

            </div>
        </div>

        <div class="product_bootom">
            <div class="product-textBase">
                <div class="product-sizes">Выбор размера модели: {{product.sizes}}</div>
            </div>
            
            <div>
                <input type="radio" name="rb" id="rb1" checked> <label for="rb1">Переключатель 1</label>
                </div>
                <div>
                <input type="radio" name="rb" id="rb2"> <label for="rb2">Переключатель 2</label>
                </div>
                <div>
                <input type="radio" name="rb" id="rb3"> <label for="rb3">Переключатель 3</label>
            </div>

        </div>
    </div>
</div>