BODY {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
H1 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 50px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: 1px 1px 1px silver, -1px 1px 1px silver;
    color: white;
    transition: all 0.5s;
}
h1:hover {
    text-shadow: -2px -2px 2px rgb(8, 8, 8), 1px -1px 1px silver;
    color: white;
}
